*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}
html{
    height: 100%;
    /* max-width: 100%; */
}
body{
    /* max-width: 100%; */
    font-size: 16px;
    height: 100%;
    /* position: relative; */
    background: rgb(63, 60, 60);
    user-select: none;
}
.wrapper{
    background: rgb(63, 60, 60);
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    /* max-height: 100vh; */
    /* height: 100vh; */
    height: 100%;
    /* position: relative; */
}
header{
    /* margin: 2rem auto; */
    padding: 5.6116723% 0;
    position: relative;
    font-size: 1.7em;
}
header h1{
    text-align: center;
    /* transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%); */
}
header h2{
    font-size: 1.7em;
    padding: 1.2251149% 1.4029181%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
}
nav{
    display: none;
    background: rgb(104, 98, 98);
    height: 20%;
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
nav a{
    display: block;
    text-decoration: none;
    color: rgb(46, 31, 31);
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 0.03125em;
    text-align: center;
    padding: 1.2251149% 1.4029181%;
    margin: 2.4502297% auto;
    background: rgb(102, 92, 92);
}
nav a:hover{
    color: rgb(34, 24, 24);
    background: rgb(59, 48, 48);
}
.reload{
    /* background: red; */
    display: flex;
    justify-content: space-between;
    padding: 2.4502297% 5.6116723%;
}
.btn{
    font-weight: bold;
    text-transform: capitalize;
    background: rgb(235, 69, 152);
    padding: 1.2251149% 1.4029181%;
    font-size: 1.1em;
    cursor: pointer;
    transition: all 1s linear;
    border-radius: 1.0625em;
    -webkit-border-radius: 1.0625em;
    -moz-border-radius: 1.0625em;
    -ms-border-radius: 1.0625em;
    -o-border-radius: 1.0625em;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    user-select: none;
}
.btn:hover{
    background: rgb(228, 8, 143);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/* .main-game{
    /* position: relative; } */
.players{
    /* color: rgb(26, 2, 2); */
    margin-top: 4.9004594%;
    display: flex;
    justify-content: space-between;
    padding: 2.4502297% 3.8058361% ;
    text-transform: capitalize;
    text-align: center;
    height: 30%;
}
.player h2,.player h3,.player h4{
    margin-bottom: 18.1674324%;
    transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
}

.center{
    /* display: none; */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    height: auto;
    text-align: center;
}
.dice-img{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.roll-btn{
    margin: 46.334865% 0;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1.334865% 0;
    font-size: 1.2em;
    text-transform: capitalize;
    letter-spacing: 0.075em;
}
.footer-links{
    font-size: 1.4em;
    margin: 11.2px;
}
.footer a{
    color: black;
}
.fab{
    padding: 0 1.324865%;
    cursor: pointer;
    transition: all 1s linear;
}
.fab:hover{
    color: rgb(102, 4, 4);
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

/* STYLES FOR JAVASCRIPT */
.current-player{
    color: rgb(243, 179, 216);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/* MEDIA QUERIES */


@media screen and (min-width:600px){
    .players{
        /* background: red; */
        padding: 2.4502297% 13.3333333%;
        
    }
    .player h2,.player h3,.player h4{
        /* margin-bottom: 20.8; */
    }
}
@media screen and (min-width:700px){
    .reload{
        padding: 2.4502297% 6.8571429%;
    }
    .players{
        /* background: red; */
        /* padding: 3.6753446% 13.7142857%; */

    }
    .player h2,.player h3,.player h4{
        margin-bottom: 35.9714286%;
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
}

.wrapper{
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
}
.btn{
    font-weight: normal;
    padding: 1.9601838% 1.8285714%;
    font-size: 1.3em;
    border-radius: 40%;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
}

.center{
    top: 43%;
}
}
@media screen and (min-width:980px){
    .reload{
        /*padding: 2.4502297% 11.4285714%;
        */transform: translateY(-20px);
        
}
    .players{
        /* padding: 6.753446% 19.5918367%; */
    }
    .player h2,.player h3,.player h4{
        margin-bottom: 20.9714286%;
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
}

.main-game{
    /* background: red; */
    transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    -o-transform: translateY(-200px);
}
}
/* @media screen and (min-width:1250px){
    .reload{
        padding: 2.4502297% 8.96%;
    }
    .players{
        padding: 6753446% 17.92%;

    }
    .player h2,.player h3,.player h4{
        margin-bottom: 2.9714286%;
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
}
} */